:root {
  --dark-bg-color: #000000;
  --light-text-color: #e0e0e0;
  --primary-accent-color: #1db954;
  --secondary-accent-color: #f06292;
  --neutral-gray-color: #000000;
  --hover-color: #1ed760;
  --font-size-base: 16px;
  --font-family: "Poppins, sans-serif";
}

body {
  background-color: var(--dark-bg-color);
  color: var(--light-text-color);
  font-family: var(--font-family);
  font-size: var(--font-size-base);
  margin: 0;
  padding: 0;
}
